.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  &_title {
    margin: 0;
    margin-bottom: 10px;
  }
  .input_group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  &_btn {
    font-size: 17px;
    padding: 10px 30px;
    background-color: #434343;
    color: #fff;
    border: none;
    text-transform: uppercase;
  }

  .error {
    color: red;
    font-size: 20px;
  }
  
 
}
